/* General */
* {
	padding: 0;
	margin: 0;
	display: block;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #0a0622;
	width: 100%;
	height: 100%;
}
p {color: #d2d2d4;}

/* Header */
header {
	margin: 0;
	padding: 0;
	min-width: 100%;
	height: 60px;
	background-color: #0b0726;
	display: flex;
	box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}
header h3 {
	color: #d2d2d4;
	margin-left: 20px;
	margin-top: 18px;
	flex: 0.9;
}
header a {
	color: #05a32d;
	text-decoration: none;
	margin-top: 21px;
	float: right;
}

/* Title and Search Feature */
h1 {
	color: #fff;
	text-align: center;
	margin: 30px 0;
	font-size: 30px;
}
.search {
	display: inline;
}
.search > input {
	background-color: transparent;
	border: 1px solid #000000;
	padding: 10px;
}




/* Footer */
footer {
	margin: 23px 0;
	min-width: 100%;
	justify-content: center;
}
.footer {
	justify-content: center;
	text-align: center;
	color: #d2d2d4;
}